@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff2') format('woff2');
    font-weight: bold, medium, regular, semibold;
    font-style: normal;
    font-display: swap;
}
body {
    font-family: Montserrat ,serif;
    background-color: #fff;
    color: #665F5F;
}

/* Шапка */

.header {
    background-color: #fff;
    position: fixed;
    border-radius: 0 0 30px 30px ;
    min-height: 100px;
    min-width: 100%;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.25);
    z-index: 3;
}

.header__container {
    margin: 0 auto;
    max-width: 1170px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    position: relative;
    width: 90px;
    top: -10px;
}

.header__actions {
    display: flex;
    gap: 18px;
}

.header__burger-container {
    width: 163px;
}

.header__burger-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;
    padding: 0 13px;
}

.header__burger {
    transition: .3s ease-in-out;
    width: 20px;
    height: 2px;
    background-color: #665F5F;
    border-radius: 100px;
}

.header__burger-btn span:nth-of-type(2){
    width: 14px;
}

.header__btn {
    width: 45px;
    height: 45px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    transition: .2s ease-in-out;
}

.header__btn:hover {
    transform: translateY(-2.5px);
}

.header__search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__search-icon, .header__cart-icon {
    width: 20px;
    height: 20px;
}

.header__cart {
    position: relative;
    min-width: 100px;
    display: flex;
    gap: 11px;
    align-items: center;
    justify-content: center;
}

.header__cart::after{
    display: none;                                            /* hidden */
    content: url(../img/cart-circle.svg);
    position: absolute;
    top: -3px;
    right: 0;
}

.header__cost {
    font-size: 12px;
    font-weight: bold;
}

/* Главная секция */

.hero {
    padding-top: 85px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 877px;
}

.hero__title {
    position: relative;
    height: 244px;
    width: 1059px;
    font-weight: 700;
    font-size: 100px;
    line-height: 122%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    text-shadow: inset 2px 2px 5px 0 rgba(201, 201, 201, 0.5), 3px 3px 14px 0 rgba(137, 137, 137, 0.4);
}

.hero__text {
    position: relative;
    height: 78px;
    width: 610px;
    font-weight: 400;
    font-size: 32px;
    line-height: 122%;
    letter-spacing: -0.04em;
    text-align: center;
}

.hero__btn {
    margin-top: 21px;
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.25);
    color: #000;
    background-color: #fff;
    padding: 17px 56px;
    font-weight: 700;
    font-size: 24px;
    line-height: 124%;
    color: #665f5f;
    border-radius: 5px;
    transition: .3s ease-in-out;
}

.hero__btn:hover {
    scale: 1.05;
}

.hero__text::after {
    content: url(../img/leaf.png);
    position: absolute;
    bottom: 280px;
    left: -158px;
    z-index: 2;
    filter: blur(2px);
}

.hero__title::before {
    content: url(../img/lep1.png);
    position: absolute;
    top: 102px;
    left: -7px;
    z-index: 2;
    filter: blur(2px);
}

.hero__title::after {
    content: url(../img/lep2.png);
    position: absolute;
    right: -5px;
    bottom: 10px;
    z-index: 2;
    filter: blur(2px);
}

/* Функции */

.features {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.25);
    height: 86px;
    display: flex;
    gap: 175px;
    align-items: center;
    justify-content: center;
}

.features__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.features__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    line-height: 124%;
}

.features__text p:first-child {
    font-weight: bold;
    font-size: 24px;
}

.features__text p:last-child {
    margin-top: 5px;
    font-weight: regular;
    font-size: 16px;
}


/* Products */

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 0 auto;
    width: 978px;
    align-items: center;
}

.products__title {
    margin-top: 90px;
    font-size: 56px;
    line-height: 124%;
    font-weight: 700;
}

.products__card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.products__card {
    border-radius: 5px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.25), -1px -1px 4px 0 rgba(0, 0, 0, 0.25);
    transition: .2s ease-in-out;
}

.products__card:hover {
    transform: translateY(-5px);
}

.products__img {
    border-radius: 5px 5px 0 0;
    width: 313px;
    height: 290px;
}

.products__first-row, .products__second-row {
    display: flex;
    gap: 55px;
}

.products__description {
    padding: 21px 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}

.products__description-text {
    width: 142px;
    font-size: 12px;
    line-height: 124%;
}

.products__description-cost {
    font-size: 12px;
    line-height: 124%;
    font-weight: 700;
}

.products__card-btn {
    background-color: #665F5F;
    border-radius: 5px;
    padding: 9px 14px;
    font-weight: 700;
    font-size: 12px;
    line-height: 124%;
    color: #fff;
}

.products__btn {
    padding: 17px 47px;
    background-color: #665F5F;
    border-radius: 5px;
    font-weight: 700;
    font-size: 24px;
    line-height: 124%;
    color: #fff;
    margin-bottom: 90px;
    transition: .3s ease-in-out;
}

.products__btn:hover {
    scale: 1.05;
}
