@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
        url('../fonts/Montserrat-Medium.woff2') format('woff2'),
        url('../fonts/Montserrat-SemiBold.woff2') format('woff2'),
        url('../fonts/Montserrat-Bold.woff2') format('woff2');
    font-weight: bold, medium, regular, semibold;
    font-style: normal;
    font-display: swap;
}
body {
    font-family: Montserrat ,serif;
    background-color: #fff;
    color: #665F5F;
}

/* Шапка */

.header {
    background-color: #fff;
    position: fixed;
    border-radius: 0 0 30px 30px ;
    min-height: 100px;
    min-width: 100%;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.25);
    z-index: 3;
}

.header__container {
    margin: 0 auto;
    max-width: 1170px;
    min-height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    position: relative;
    width: 90px;
    top: -10px;
}

.header__actions {
    display: flex;
    gap: 18px;
}

.header__burger-container {
    width: 163px;
}

.header__burger-btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 6px;
    padding: 0 13px;
}

.header__burger {
    transition: .3s ease-in-out;
    width: 20px;
    height: 2px;
    background-color: #665F5F;
    border-radius: 100px;
}

.header__burger-btn span:nth-of-type(2){
    width: 14px;
}

.header__btn {
    width: 45px;
    height: 45px;
    box-shadow: 2px 2px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    transition: .2s ease-in-out;
}

.header__btn:hover {
    transform: translateY(-2.5px);
}

.header__search {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__search-icon, .header__cart-icon {
    width: 20px;
    height: 20px;
}

.header__cart {
    position: relative;
    min-width: 100px;
    display: flex;
    gap: 11px;
    align-items: center;
    justify-content: center;
}

.header__cart::after{
    display: none;                                            /* hidden */
    content: url(../img/cart-circle.svg);
    position: absolute;
    top: -3px;
    right: 0;
}

.header__cost {
    font-size: 12px;
    font-weight: bold;
}

/* Главная секция */

.hero {
    padding-top: 85px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    height: 877px;
}

.hero__title {
    position: relative;
    height: 244px;
    width: 1059px;
    font-weight: 700;
    font-size: 100px;
    line-height: 122%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    text-shadow: inset 2px 2px 5px 0 rgba(201, 201, 201, 0.5), 3px 3px 14px 0 rgba(137, 137, 137, 0.4);
}

.hero__text {
    position: relative;
    height: 78px;
    width: 610px;
    font-weight: 400;
    font-size: 32px;
    line-height: 122%;
    letter-spacing: -0.04em;
    text-align: center;
}

.hero__btn {
    margin-top: 21px;
    box-shadow: 3px 3px 6px 0 rgba(0, 0, 0, 0.25);
    color: #000;
    background-color: #fff;
    padding: 17px 56px;
    font-weight: 700;
    font-size: 24px;
    line-height: 124%;
    color: #665f5f;
    border-radius: 5px;
    transition: .3s ease-in-out;
}

.hero__btn:hover {
    scale: 1.05;
}

.hero__text::after {
    content: url(../img/leaf.png);
    position: absolute;
    bottom: 280px;
    left: -158px;
    z-index: 2;
    filter: blur(2px);
}

.hero__title::before {
    content: url(../img/lep1.png);
    position: absolute;
    top: 102px;
    left: -7px;
    z-index: 2;
    filter: blur(2px);
}

.hero__title::after {
    content: url(../img/lep2.png);
    position: absolute;
    right: -5px;
    bottom: 10px;
    z-index: 2;
    filter: blur(2px);
}

/* Функции */

.features {
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.25);
    height: 86px;
    display: flex;
    gap: 175px;
    align-items: center;
    justify-content: center;
}

.features__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.features__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 20px;
    line-height: 124%;
}

.features__text p:first-child {
    font-weight: bold;
    font-size: 24px;
}

.features__text p:last-child {
    margin-top: 5px;
    font-weight: regular;
    font-size: 16px;
}


/* Products */

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    margin: 0 auto;
    width: 978px;
}

.products__title {
    margin-top: 90px;
    font-size: 56px;
    line-height: 124%;
    font-weight: 700;
}

.products__card-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 987px;
    height: 810px;
    flex-wrap: wrap;
    gap: 40px;
}

.products__card {
    width: 289px;
    height: 384px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.25), -1px -1px 4px 0 rgba(0, 0, 0, 0.25);
    transition: .2s ease-in-out;
}

.products__card:hover {
    transform: translateY(-5px);
}

.products__img {
    border-radius: 5px 5px 0 0;
    width: 313px;
    height: 290px;
}

.products__description {
    padding: 21px 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 11px;
}

.products__description-text {
    width: 142px;
    font-size: 12px;
    line-height: 124%;
}

.products__description-cost {
    font-size: 12px;
    line-height: 124%;
    font-weight: 700;
}

.products__card-btn {
    background-color: #665F5F;
    border-radius: 5px;
    padding: 9px 14px;
    font-weight: 700;
    font-size: 12px;
    line-height: 124%;
    color: #fff;
    transition: .2s ease-in-out;
}

.products__card-btn:hover {
    transform: scale(1.05);
}

.products__btn {
    padding: 17px 47px;
    background-color: #665F5F;
    border-radius: 5px;
    font-weight: 700;
    font-size: 24px;
    line-height: 124%;
    color: #fff;
    margin-bottom: 90px;
    transition: .3s ease-in-out;
}

.products__btn:hover {
    scale: 1.05;
}


/* Collection */

.collection {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.collection__title {
    font-weight: 700;
    font-size: 56px;
    line-height: 124%;
    margin-bottom: 40px;
}

.collection__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    width: 1175px;
    flex-wrap: wrap;
    margin-bottom: 90px;
}

.collection__card {
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    width: 280px;
    height: 254px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .15s ease-in-out;
    overflow: hidden;
}

.collection__card::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    box-shadow: inset 0px 31px 31px 0 #fff, inset -0px -31px 31px 0 #665f5f;
    background: linear-gradient(180deg, #fff 0%, #857b7b 100%);
    opacity: 0.4;
}

.collection__card:hover {
    transform: scale(0.95);
    opacity: 0.9;
}

.collection__card-title {
    width: 250px;
    z-index: 2;
    font-weight: 500;
    font-size: 35px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.collection__card:nth-of-type(1){
    background-image: url(../img/collection1.jpg);
}

.collection__card:nth-of-type(2){
    background-image: url(../img/collection2.jpg);
}

.collection__card:nth-of-type(3){
    background-image: url(../img/collection3.jpg);
}

.collection__card:nth-of-type(4){
    background-image: url(../img/collection4.jpg);
}

.collection__card:nth-of-type(5){
    background-image: url(../img/collection5.jpg);
}

.collection__card:nth-of-type(6){
    background-image: url(../img/collection6.jpg);
}

.collection__card:nth-of-type(7){
    background-image: url(../img/collection7.jpg);
}

.collection__card:nth-of-type(8){
    background-image: url(../img/collection8.jpg);
}

.collection__card:nth-of-type(9){
    background-image: url(../img/collection9.jpg);
}

.collection__card:nth-of-type(10){
    background-image: url(../img/collection10.jpg);
}

.collection__card:nth-of-type(11){
    background-image: url(../img/collection11.jpg);
}

.collection__card:nth-of-type(12){
    background-image: url(../img/collection12.jpg);
}






/* Advantages */

.advantages {
    width: 1175px;
    margin: 0 auto;
    text-align: center;
}

.advantages__title {
    font-weight: 700;
    font-size: 56px;
    line-height: 124%;
    text-transform: uppercase;
    text-align: center;
}

.advantages__cards {
    display: flex;
    margin-top: 40px;
    margin-bottom: 90px;
    gap: 47px;
}

.advantages__card {
    box-shadow: 2px 4px 5px 0 rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    padding: 13px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 360px;
    flex-wrap: wrap;
    text-align: left;
}

.advantages__card-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 124%;
}

.advantages__img {
    margin-bottom: 18px;
}




/* Subscribe */

.subscribe {
    padding: 26px 0 22px 0;
    text-align: center;
    width: 100%;
    height: 160px;
    background-color: #FFD1D7;
    margin-bottom: 101px;
}

.subscribe__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 124%;
    text-transform: uppercase;
}

.subscribe__subtitle {
    position: relative;
    font-weight: 400;
    font-size: 16px;
    line-height: 124%;
    margin-bottom: 12px;
}

.subscribe__input {
    padding: 12px 25px 12px 13px;
    background-color: #fff;
    border-radius: 5px;
    width: 270px;
}

.subscribe__input:focus {
    outline-color: #665F5F;
}

.subscribe__input-wrapper {
    position: relative;
    display: inline-block;
}

.subscribe__btn {
    padding: 0 10px 0 5px;
    position: absolute;
    top: 10px;
    right: 0px;
}





/* FAQ */

.FAQ__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 124%;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 40px;
}

.FAQ__questions {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: 850px;
    margin: 0 auto;
    margin-bottom: 90px;
}

.FAQ__question {
    display: flex;
    justify-content: space-between;
}

.FAQ__question-text {
    font-weight: 400;
    font-size: 22px;
    line-height: 200%;
}



/* Follow */

.follow {
    text-align: center;
    width: 880px;
    margin: 0 auto;
}

.follow__title {
    font-weight: 700;
    font-size: 40px;
    line-height: 124%;
    text-transform: uppercase;
}

.follow__link {
    color: #665f5f;
    font-weight: 400;
    font-size: 22px;
    line-height: 124%;
    text-transform: lowercase;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.follow__img {
    margin-top: 40px;
    margin-bottom: 90px;
}





/* Blogs */

.blogs {
    text-align: center;
    margin-bottom: 46px;
    background-color: #ffd1d7;
    padding: 31px 0 42px 0;
}

.blogs__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
    line-height: 124%;
    margin-bottom: 30px;
}

.blogs__slider {
    display: flex;
    justify-content: center;
    align-items: center;
}

.blogs__cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
}

.blogs__card {
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.25), -1px -1px 4px 0 rgba(0, 0, 0, 0.25);
    background: #fff;
    width: 289px;
    height: 385px;
    transition: .2s ease-in-out;
}

.blogs__card:hover {
    transform: scale(1.05);
}

.blogs__img {
    border-radius: 5px 5px 0 0;
    width: 289px;
    height: 238px;
}

.blogs__description {
    text-align: left;
    height: 95px;
    padding: 24px 16px;
}

.blogs__card-title {
    font-weight: 700;
    font-size: 16px;
    line-height: 124%;
    margin-bottom: 10px;
}

.blogs__card-text {
    font-weight: 400;
    font-size: 12px;
    line-height: 124%;
}

.blogs__arrow {
    background-color: #fff;
    border-radius: 5px;
    width: 45px;
    height: 45px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.blogs__arrow-left {
    margin-right: 36px;
}

.blogs__arrow-right {
    margin-left: 36px;
}




/* Address */

.address {
    width: 100%;
    background: url(../img/address-bg.jpg);
    height: 611px;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.address__card {
    width: 466px;
    height: 371px;
    background-color: #fff;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.address__img {
    margin-bottom: 7px;
}

.address p {
    font-size: 16px;
    font-weight: 400;
    line-height: 124%;
}

.address__title {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 20px;
}

.address__city {
    margin-bottom: 20px;
}